@import "variables";

* {
  border-radius: 0;
  margin: 0;
  padding: 0;
}

// Stop mobile browsers auto-zooming fonts
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body,
html {
  background-color: $pale-background;
}

// Consistent font size and line height. Improve font appearance on OS X
body {
  font: 1em/1 Helvetica;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  font-weight: 200;
  margin: 0;
  padding: 0;
}

// Fixes IE support for main and removes list text decoration
main,
li {
  display: block;
}

h1,
h2,
h3 {
  font-size: inherit;
}

a,
button {
  color: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

// Reset button appearance
button {
  background-color: $input-background;
  border: .05em $input-border solid;
  color: $font-base;
  cursor: pointer;
  font-size: 1em;
  padding: .2em;

  &:focus,
  &:hover {
    background-color: $highlight-color !important;
    color: $font-base !important;
    outline: none;
  }
}

// Get rid of Firefox button bug
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

:focus {
  outline: 0;
}

img {
  border: 0;
  height: auto;
}

.centered {
  margin: auto;
  text-align: center;
}

.whole-row {
  clear: both;
}

.is-hidden {
  visibility: hidden;
}

.screen-reader {
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: -1000px;
  width: 1px;
}

.no-display {
  display: none !important;
}

[type="text"] {
  background-color: $input-background;
  border: 0;
  border-bottom: .05em $input-border solid;
  color: $font-base;
  font-size: 1.2em;
  font-weight: 200;
  outline: none;
  padding: .4em;
  width: 80%;

  @include mobile {
    font-weight: 400;
  }

  &::selection {
    background: $highlight-color;
  }
}

.table {
  display: table-row-group;
}

.table-row {
  display: table-row;
  vertical-align: middle;
}

.table-cell {
  display: table-cell;
  text-align: center;
}

