@import "variables";

.load-bar {
  background-color: $background-base;
  border-radius: 0 $curve 0 0;
  height: 6px;
  position: relative;
  width: 100%;
}

.bar {
  content: "";
  display: inline;
  height: 100%;
  left: 50%;
  position: absolute;
  text-align: center;
  width: 0;
}

.bar:nth-child(1) {
  animation: loading 3s linear infinite;
  background-color: $highlight-color;
}

.bar:nth-child(2) {
  animation: loading 3s linear 1.5s infinite;
  background-color: $background-base;
}

.bar:nth-child(3) {
  animation: loading 3s linear 3s infinite;
  background-color: $highlight-color;
}

@keyframes loading {
  from {left: 50%; width: 0; z-index: 100;}
  33.3333% {left: 0; width: 100%; z-index: 10;}
  to {left: 0; width: 100%;}
}
