
#map-outer-container {
  height: 94%;
  position: fixed;
  width: 100%;
  z-index: -1;

  ::after {
    clear: both;
    content: "";
    display: block;
  }
}

#map-container {
  height: 100%;
  margin: auto;
  width: 100%;
}
