
/* based on http://codepen.io/tysonmatanich/pen/meVQpg */

@import "variables";
@import "responsive";

.notification-wrapper {
  padding: 0 .5em;
  position: relative;
  text-align: center;

  @include mobile {
    margin-left: 0;
  }

  p {
    font-size: .9em;
    margin: .5em .5em 1em;
  }
}

// For spinner
.loader {
  animation: load3 1.4s infinite linear;
  background: $loader-background;
  background: linear-gradient(to right, $background-base 10%, rgba(255, 255, 255, 0) 42%);
  border-radius: 50%;
  font-size: 10px;
  height: 6em;
  left: 50%;
  margin-left: -1.5em;
  margin-top: -1.5em;
  overflow: hidden;
  position: fixed;
  text-indent: -9999em;
  top: 50%;
  transform: translateZ(0);
  width: 6em;
  z-index: 10;

  @include mobile {
    margin-left: -2em;
  }

  &::before {
    background: $background-base;
    border-radius: 100% 0 0;
    content: "";
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
  }

  &::after {
    background: $background-base;
    border-radius: 50%;
    bottom: 0;
    content: "";
    height: 75%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 75%;
  }
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
