@import "variables";
@import "responsive";

.search.l-splash.is-collapsed {
  button,
  input {
    background-color: $splash-input-background;
    color: $font-base;
    font-size: 1em;

    @include mobile {
      margin: .8em auto;
    }
  }

  input {
    width: 60%;
  }

  button {
    font-size: .8em;
  }
}

.search-btn {
  position: absolute;
  font-size: 1.3em
}

.search-btn.right {
  right: 2em;
  top: 6.5em;
}

.search-btn.left {
  left: 2em;
  top: 6.5em;
}

.search-details-wrapper {
  margin-left: 3.1em;
  padding-top: 4em;

  @include mobile {
    margin: 0 auto 0 5.1em;
    width: 98%;
  }
}

.search-details-item.whole-row {
  width: 100%;
}

.search-input-label {
  display: inline-block;
  font-size: 1em;
  margin: .4em .2em .2em;
  text-align: left;
  width: 3em;
}

.search-input-range {
  margin: .8em 2em;
}

.search-validation-message {
  color: $warning;
  display: inline-block;
}

// TODO - animate this change
.search.l-sidebar {
  min-height: 9em;
  .search-details-wrapper {
    display: inline-block;
  }
}
.search.l-sidebar.is-collapsed {
  .search-details-wrapper {
    display: none;
  }
}
