
@import "variables";
@import "responsive";

.sidebar {
  background: $background-base;
  border-radius: 0 $curve $curve 0;
  box-shadow: 17px 4px 29px 1px $box-shadow;
  color: $font-base;
  float: left;
  margin-top: .6em;
  max-width: 30%;
  min-width: 360px;

  @include mobile {
    border-radius: 0;
    box-shadow: none;
    margin-top: 0;
    max-width: 100%;
    min-width: 100%;
    resize: none;
  }

  @include tablet {
    max-width: 40%;
    min-width: 320px;
  }

  .list {
    border-radius: 0 0 $curve;
    max-height: 73vh;
    overflow-y: scroll;
    padding: 0;

    @include mobile {
      border-radius: 0;
      max-height: inherit;
    }
  }
}
