@import "variables";
@import "responsive";

.splash {
  color: $font-base;
  font-size: 1.6em;
  margin: 4em;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: initial;
  z-index: 5;

  @include mobile {
    font-size: 1.4em;
    margin: auto .8em;
    width: auto;
  }

  @include tablet {
    font-size: 1.4em;
    margin: auto 2em;
  }
}

.splash-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin: 1em auto;
  position: relative;

  @include mobile {
    margin: .2em 0 0;
    overflow: hidden;
  }

  @include tablet {
    margin: auto;
    overflow: hidden;
  }

  .img-bg {
    max-width: 1080px;

    @include mobile {
      width: inherit;
    }
  }
}

.splash-heading {
  font-size: 3.5em;
  margin-bottom: .6em;

  @include mobile {
    font-size: 2em;
  }

  @include tablet {
    font-size: 2em;
  }
}

.splash-message {
  font-size: 1em;
}

.credit {
  bottom: 0;
  color: $font-base;
  padding: .2em .4em;
  position: absolute;
  right: 0;
}

