// Colours
$background-base: #231f31;
$box-shadow: rgba(0, 0, 0, .36);
$font-base: #fff;
$highlight-color: #fd8023;
$input-background: rgba(0, 0, 0, 0);
$splash-input-background: rgba(0, 0, 0, .5);
$input-border: #fff;
$input-focus: #fff;
$loader-background: #fff;
$pale-background: #fafafa;
$text-box-background: #fff;
$warning: #ff0000;

// Fonts
$logo-font: "Baloo Paaji", cursive;
$input-font-size: .8em;

$curve: 20px;

$font-path: "~react-widgets/lib/fonts";
$img-path: "~react-widgets/lib/img";

@import "~react-widgets/lib/scss/react-widgets";
