.sidebar-slide-appear {
  transform: translate3d(-200%, 0, 0);

  &.sidebar-slide-appear-active {
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
  }
}

.add-event-enter {
  transform: translate3d(0, 200%, 0);

  &.add-event-enter-active {
    transform: translate3d(0, 0, 0);
  }
}
