@import "variables";
@import "responsive";

.results-item {
  background-color: $pale-background;
  box-sizing: border-box;
  color: $background-base;
  float: left;
  font-size: .9em;
  margin: .125em 0;
  padding: .8em .25em;
  text-align: left;
  width: 100%;

  &:hover {
    background-color: $text-box-background;
  }

  &:first-of-type {
    margin: 0 0 .125em;
  }

  &:last-of-type {
    border-radius: 0;
    margin: .125em 0 0;

    @include mobile {
      border-radius: 0;
    }
  }
}

.results-item.is-active {
  background-color: $text-box-background;
}

.item-title {
  color: $background-base;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
}

.item-details-wrapper {
  display: inline;
  width: 60%;
}

.item-details-list {
  border-collapse: separate;
  border-spacing: .25em;
  float: left;
  max-width: 70%;
}

.item-ticket-btn {
  float: right;
  margin: 1.2em 1em 1em;
  max-width: 30%;
  text-align: center;

  > a {
    background-color: $background-base;
    border: 0;
    color: $font-base;
    cursor: pointer;
    padding: .5em;
    text-decoration: none;

    &:focus,
    &:hover {
      background-color: $highlight-color;
    }
  }
}

.item-description {
  float: left;
  height: 0;
  overflow: hidden;
  width: 100%;
}

.item-description.is-active {
  height: auto;
}

.item-description-text {
  margin-top: .4em;
}

.item-img {
  float: right;
  height: 40%;
  margin: 0 5px 0 0;
  width: 40%;
}

.item-genres {
  font-size: .8em;
  margin: .1em;
}
